version: "3.8"
services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/"]
      interval: 30s
      timeout: 10s
      retries: 5
  
  test:
    build:
      context: ./test
      dockerfile: Dockerfile
    depends_on:
      web:
        condition: service_healthy