version: "3.8"
services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
  
  test:
    build:
      context: ./test
      dockerfile: Dockerfile
    depends_on:
      - web